<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | s.mohsen</title>
    <link rel="stylesheet" href="../public/build/tailwind.css">
</head>

<body
    class="p-4 h-full [background-image:url(../../src/images/background.svg)] bg-gray-300 bg-contain backdrop-blur-sm bg-center">
    <div class="container flex flex-col justify-center items-center w-full h-full ">
        <div class="flex flex-col gap-5">
            <!-- English Lang -->
            <div class="en">
                <!-- flag -->
                <img title="language/زبان" class="flag-img pb-5 w-14 h-14 mx-auto" src="../src/images/lang/gb.svg"
                    alt="en_lang">
                <!-- card -->
                <div
                    class="flex flex-col lg:flex-row bg-white p-5 rounded-3xl lg:w-[70rem]  lg:h-96 gap-8 font-Roboto-light ">
                    <img src="../src/images/temp/bg.avif" alt=""
                        class="rounded-3xl  object-cover w-full h-1/2 lg:h-full">
                    <div class="flex flex-col justify-around gap-7 h-full">
                        <div class="lg:pr-8 flex flex-col gap-5">
                            <a href=""
                                class="relative inline-block py-1 [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [background-position:-100%] [background-image:linear-gradient(to_right,#64748ba3,#64748b_50%,#000_50%)] [background-size:200%_100%]  text-xl  lg:text-2xl 2xl:text-3xl font-Roboto-md before:content-[''] before:bg-slate-500/50 before:block before:absolute before:w-0 before:-bottom-1 before:left-0 before:h-1 before:rounded-full before:transition-all before:ease-in-out hover:[background-position:0] hover:before:w-full">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime sunt illum id
                                inventore
                                autem
                                quos blanditiis
                            </a>
                            <p class="text-gray-500 text-sm lg:text-base 2xl:text-lg">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime sunt illum id
                                inventore
                                autem
                                quos blanditiis consectetur elit
                            </p>
                        </div>
                        <div class="flex  justify-between items-center">
                            <div class="flex gap-2 items-center">
                                <img src="../src/images/temp/user01.jpg" alt=""
                                    class="object-cover aspect-video rounded-full w-12 h-12">
                                <div>
                                    <p class="font-Roboto-md text-black/80 text-sm lg:text-base">Alexander Parkinson</p>
                                    <p class="text-gray-500 text-xs lg:text-sm">
                                        April 14 ,2024
                                    </p>
                                </div>
                            </div>
                            <button class="group pr-5 text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor"
                                    class="group-hover:rotate-45 transition-transform ease-linear w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pesian Lang -->
            <div class="fa">
                <!-- falg -->
                <img title="language/زبان" class="flag-img pb-5 w-14 h-14 mx-auto" src="../src/images/lang/ir.svg"
                    alt="en_lang">
                <!-- card -->
                <div dir="rtl"
                    class="flex flex-col lg:flex-row bg-white p-5 rounded-3xl lg:w-[70rem]  lg:h-96 gap-8 font-Peyda ">
                    <img src="../src/images/temp/bg.avif" alt=""
                        class="rounded-3xl  object-cover w-full h-1/2 lg:h-full">
                    <div class="flex flex-col justify-around gap-7 h-full">
                        <div class="lg:pr-8 flex flex-col gap-5">
                            <a href=""
                                class="relative inline-block py-1 [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] [background-position:-100%] [background-image:linear-gradient(to_right,#64748b,#64748ba3_50%,#000_50%)] [background-size:200%_100%]  text-xl  lg:text-2xl 2xl:text-3xl  before:content-[''] before:bg-slate-500/50 before:block before:absolute before:w-0 before:-bottom-1 before:right-0 before:h-1 before:rounded-full before:transition-all before:ease-in-out hover:[background-position:0] hover:before:w-full">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون
                            </a>
                            <p class="text-gray-500 text-sm lg:text-base 2xl:text-lg">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون
                            </p>
                        </div>
                        <div class="flex  justify-between items-center">
                            <div class="flex gap-2 items-center">
                                <img src="../src/images/temp/user01.jpg" alt=""
                                    class="object-cover aspect-video rounded-full w-12 h-12">
                                <div>
                                    <p class="text-black/80 text-sm lg:text-base font-bold">پریسا تبریزی </p>
                                    <p class="text-gray-500 text-xs lg:text-sm">
                                        26فرودین ,1403
                                    </p>
                                </div>
                            </div>
                            <button class="group pr-5 text-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor"
                                    class="group-hover:-rotate-45 transition-transform ease-linear w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m19.5 19.5-15-15m0 0v11.25m0-11.25h11.25" />
                                </svg>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../src/js/script.js"></script>
</body>

</html>