<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | s.mohsen</title>
    <link rel="stylesheet" href="../public/build/tailwind.css">

</head>

<body
    class="p-4 h-full md:h-screen [background-image:url(../../src/images/background.svg)] bg-gray-300 bg-contain backdrop-blur-sm bg-center">
    <div class="container flex justify-center items-center w-full h-full ">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
            <!-- English Temp -->
            <div class="en">
                <!-- flag -->
                <img title="language/زبان" class="flag-img pb-5 w-14 h-14 mx-auto" src="../src/images/lang/gb.svg"
                    alt="en_lang">
                <!-- card -->
                <div
                    class="relative max-w-96 bg-zinc-800 rounded-3xl overflow-hidden flex flex-col justify-between font-Roboto-light">
                    <!-- video background  / عکس ویدیو-->
                    <img src="../src/images/video-card2/cyclist-sunny-day-bike-adventure-trave.jpg" class="object-cover"
                        alt="cyclist-sunny-day-bike-adventure-trave">
                    <!-- <span
                    class="absolute top-5 right-5 bg-green-500 px-2 py-1 rounded-lg text-xs text-white rtl:right-auto rtl:left-5">Recommended</span> -->
                    <div class="relative bottom-0 w-full bg-white p-5 flex flex-col gap-4 -mt-20 md:-mt-14">
                        <p class="text-black font-Roboto-md font-bold pt-2">
                            Lorem ipsum dolor sit amet consectetur dolore nihil aspernatur. quibusdam, doloribus dolorem
                            molestias?
                        </p>
                        <p class="text-xs flex gap-3 items-center">
                            <span class="flex text-gray-700 items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
                                </svg>travel
                            </span>
                            <span class="flex text-gray-500 items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>April 13 , 2024
                            </span>
                        </p>
                        <button class="absolute -top-8 text-white bg-green-500 p-3 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- persian Temp -->
            <div class="fa">
                <!-- falg -->
                <img title="language/زبان" class="flag-img pb-5 w-14 h-14 mx-auto" src="../src/images/lang/ir.svg"
                    alt="en_lang">
                <!-- card -->
                <div dir="rtl"
                    class="relative max-w-96 bg-zinc-800 rounded-3xl overflow-hidden flex flex-col justify-between font-Peyda">
                    <!-- video background  / عکس ویدیو-->
                    <img src="../src/images/video-card2/cyclist-sunny-day-bike-adventure-trave.jpg" class="object-cover"
                        alt="cyclist-sunny-day-bike-adventure-trave">
                    <span
                        class="absolute top-5 right-5 bg-green-500 px-2 py-1 rounded-lg text-xs text-white rtl:right-auto rtl:left-5">پیشنهادی</span>
                    <div class="relative bottom-0 w-full bg-white p-5 flex flex-col gap-4 -mt-20 md:-mt-14">
                        <p class="text-black pt-2">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                            و سطرآنچنان که لازم است، و برای شرایط فعلی
                        </p>
                        <p class="text-xs flex gap-3 items-center ">
                            <span class="flex text-gray-700 items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
                                </svg>سفر
                            </span>
                            <span class="flex text-gray-500 items-center gap-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>25 فرودین , 1403
                            </span>
                        </p>
                        <button class="absolute -top-8 text-white bg-green-500 p-3 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../src/js/script.js"></script>
</body>

</html>