<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | s.mohsen</title>
    <link rel="stylesheet" href="../public/build/tailwind.css">

</head>

<body
    class="p-4 h-full md:h-screen [background-image:url(../../src/images/background.svg)] bg-gray-300 bg-contain backdrop-blur-sm bg-center">
    <div class="container flex justify-center items-center w-full h-full ">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
            <div class="en">
                <!-- flag -->
                <img title="language/زبان" class="flag-img pb-5 w-14 h-14 mx-auto" src="../src/images/lang/gb.svg"
                    alt="en_lang">
                <!-- card -->
                <div class="relative max-w-80 bg-zinc-800 rounded-3xl flex flex-col justify-between font-Roboto-light">
                    <!-- video background  / عکس ویدیو-->
                    <div class="relative  h-full m-4 -mb-1">
                        <img src="../src/images/video-card/skyline-tehran-sunset.jpg" class="h-full rounded-2xl" alt="">
                        <button
                            class="absolute  -translate-x-1/2 -translate-y-1/2 left-1/2 top-[52%] text-white bg-white/20 hover:bg-white/30 transition-colors ease-linear backdrop-blur-sm p-4 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <!-- video Description / درباره ی ویدیو -->
                    <div class="flex items-center justify-between m-4">
                        <div class="text-sm">
                            <a href="#" class="text-white font-Roboto-md">S.mohsen (4.0)</a>
                            <p class="text-gray-400 text-[10px] cursor-default">follow my github</p>
                        </div>
                        <!-- Last views / اخرین بازدید ها -->
                        <div class="flex -space-x-6 rtl:space-x-reverse">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user01.jpg" alt="">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user02.jpg" alt="">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user03.jpg" alt="">
                        </div>
                    </div>
                    <!--  -->
                    <span
                        class="absolute z-10 -top-4 -left-4 rtl:left-auto rtl:-right-4 bg-zinc-800 text-pink-700 p-4 rounded-2xl shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-6 h-6 [filter:drop-shadow(0px_4px_7px_#be185d)]">
                            <path
                                d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="fa">
                <!-- falg -->
                <img title="language/زبان" class="flag-imgpb-5 w-14 h-14 mx-auto" src="../src/images/lang/ir.svg"
                    alt="en_lang">
                <!-- card -->
                <div dir="rtl" class="relative max-w-80 bg-zinc-800 rounded-3xl flex flex-col justify-between font-Peyda">
                    <!-- video background  / عکس ویدیو-->
                    <div class="relative  h-full m-4 -mb-1">
                        <img src="../src/images/video-card/skyline-tehran-sunset.jpg" class="h-full rounded-2xl" alt="">
                        <button
                            class="absolute  -translate-x-1/2 -translate-y-1/2 left-1/2 top-[52%] text-white bg-white/20 hover:bg-white/30 transition-colors ease-linear backdrop-blur-sm p-4 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <!-- video Description / درباره ی ویدیو -->
                    <div class="flex items-center justify-between m-4">
                        <div class="text-sm">
                            <a href="#" class="text-white">سد محسن ( 4.0 )</a>
                            <p class="text-gray-400 text-[10px] cursor-default">لطفا من رو در گیت هاب دنبال کنید</p>
                        </div>
                        <!-- Last views / اخرین بازدید ها -->
                        <div class="flex -space-x-6 rtl:space-x-reverse">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user01.jpg" alt="">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user02.jpg" alt="">
                            <img class="w-11 h-11 border-2 border-zinc-800 rounded-full"
                                src="../src/images/video-card/user03.jpg" alt="">
                        </div>
                    </div>
                    <!--  -->
                    <span
                        class="absolute z-10 -top-4 -left-4 rtl:left-auto rtl:-right-4 bg-zinc-800 text-pink-700 p-4 rounded-2xl shadow-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-6 h-6 [filter:drop-shadow(0px_4px_7px_#be185d)]">
                            <path
                                d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="../src/js/script.js"></script>
</body>

</html>