@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Roboto-light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../src/fonts/Roboto-Light.ttf) format("woff2");
  }
  @font-face {
    font-family: "Roboto-md";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../src/fonts/Roboto-Medium.ttf) format("woff2");
  }
  @font-face {
    font-family: "Peyda";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../src/fonts/PeydaFaNum-Medium.ttf) format("woff2");
  }
}
